<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><span class="neo">Neo</span><span class="scrum">Scrum</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav home-page-nav">
      <a class="nav-link active login" routerLink="/dashboard">Home<span class="sr-only">(current)</span></a>
      <a class="nav-link signup" routerLink="/login">LogOut</a>
    </div>
  </div>
</nav><br>

<div class="container">
  <div class="card-deck">
    <div class="card mb-4 text-center" style="background: linear-gradient(to bottom, #00c3ff 0%, #f3f9a7 61%);">
          <div style="justify-content: center;align-items: center;">
              <img src="../../assets/images/batman.png" 
              alt="Avatar"  
              style="width:40%; border-radius: 50%;margin-top: 10%; margin-bottom: 10%;  
              box-shadow: 0 4px 17px rgba(3, 4, 3, 0.433);">           
          </div>
            <div class="card-body">
              <h4 class="card-title">Suneesh</h4>
              <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <!-- <textarea id="w3review" name="w3review" style="display: flexbox;"></textarea> -->
              
                      <textarea  maxlength="100" class="textinput" placeholder="  Write your feedback here..."></textarea>         
                      <div class="container text-below-textarea">
                        <span class="card-text text-left" style="display:inline-block;text-align:left;">
                            <small class="text-muted">Max 100 Characters</small>
                        </span>
                        <span class="card-text text-right" style="display:inline-block;text-align:right;">
                            <small class="text-muted">0/100</small>
                        </span>
                       </div>     
            
              <a href="#" class="btn btn-primary">Submit Feedback</a>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
      </div>
      <div class="card mb-4 text-center" style="background: linear-gradient(to bottom, #00c3ff 0%, #f3f9a7 61%);">
        <div style="justify-content: center;align-items: center;">
            <img src="../../assets/images/batman.png" 
            alt="Avatar"  
            style="width:40%; border-radius: 50%;margin-top: 10%; margin-bottom: 10%;  
            box-shadow: 0 4px 17px rgba(3, 4, 3, 0.433);">           
        </div>
          <div class="card-body">
            <h4 class="card-title">Sumit</h4>
            <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            <!-- <textarea id="w3review" name="w3review" style="display: flexbox;"></textarea> -->
                        
            <textarea class="textinput" placeholder="  Write your feedback here..."></textarea>         
            <div class="container text-below-textarea">
              <span class="card-text text-left" style="display:inline-block;text-align:left;">
                  <small class="text-muted">Max 100 Characters</small>
              </span>
              <span class="card-text text-right" style="display:inline-block;text-align:right;">
                  <small class="text-muted">0/100</small>
              </span>
             </div> 

            <a href="#" class="btn btn-primary">Submit Feedback</a>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card mb-4 text-center" style="background: linear-gradient(to bottom, #00c3ff 0%, #f3f9a7 61%);">
      <div style="justify-content: center;align-items: center;">
          <img src="../../assets/images/batman.png" 
          alt="Avatar"  
          style="width:40%; border-radius: 50%;margin-top: 10%; margin-bottom: 10%;  
          box-shadow: 0 4px 17px rgba(3, 4, 3, 0.433);">           
      </div>
        <div class="card-body">
          <h4 class="card-title">Sujit</h4>
          <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          <!-- <textarea id="w3review" name="w3review" style="display: flexbox;"></textarea> -->
          
          <textarea class="textinput" placeholder="  Write your feedback here..."></textarea>         
          <div class="container text-below-textarea">
            <span class="card-text text-left" style="display:inline-block;text-align:left;">
                <small class="text-muted">Max 100 Characters</small>
            </span>
            <span class="card-text text-right" style="display:inline-block;text-align:right;">
                <small class="text-muted">0/100</small>
            </span>
           </div> 
                  
          <a href="#" class="btn btn-primary">Submit Feedback</a>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
  </div>         
      </div>
      </div>
 </body>             