<!-- <div *ngIf="isLoggedIn; then thenBlock; else elseBlock"></div>
    <ng-template #thenBlock>
        <p>login works!</p>
    </ng-template>
    <ng-template #elseBlock>
    <img className="welcome-image" width="1284px" height="768px" src="../../assets/images/scrum.jpg">
    </ng-template> -->

<form class="signup-form example-small-box" style="align-items: center;" #signinForm="ngForm" (ngSubmit)="(signinForm.value)">
    <div class="input-group">
      <input type="name" class="form-control" id="InputName1" aria-describedby="basic-addon1" placeholder="Employee Name">
    </div>
    <div class="input-group">
        <input type="email" pattern="/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/" class="form-control" id="InputEmail1" aria-describedby="basic-addon1" placeholder="Email address">
      </div><br>
    <button type="submit" class="btn btn-primary submit-button" routerLink="/dashboard">Sign In</button>
</form>
