<!-- <div *ngIf="isLoggedIn; then thenBlock; else elseBlock"></div>
    <ng-template #thenBlock>
        <p>login works!</p>
    </ng-template>
    <ng-template #elseBlock>
    <img className="welcome-image" width="1284px" height="768px" src="../../assets/images/scrum.jpg">
    </ng-template> -->

<form class="signup-form example-small-box" style="align-items: center;" #signinForm="ngForm" (ngSubmit)="(signinForm.value)">
    <div class="input-group">
      <input type="name" #name="ngModel" name="e_name" required pattern="[a-zA-Z\s]+" minlength="3" class="form-control" id="InputName1" aria-describedby="basic-addon1" placeholder="Employee Name" [(ngModel)]="userModel.e_name"
      [class.is-invalid]="name.invalid && name.touched">
    </div>
    <div *ngIf="name.errors && (name.dirty || name.touched)">
      <span style="color: red;"[hidden]="!name.errors.required">
        Name is required 
      </span>
      <span style="color: red;" [hidden]="!name.errors.pattern">
        Only alphabets allowed
      </span>
      <span style="color: red;" [hidden]="!name.errors.minlength">
        Please Enter Atleast 3 Characters
      </span>
      </div>
    <div class="input-group">
        <input type="email" #email="ngModel" name="e_email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" id="InputEmail1" aria-describedby="basic-addon1" placeholder="Email address" [(ngModel)]="userModel.e_email"
        [class.is-invalid]="email.invalid && email.touched">
      </div>
      <div *ngIf="email.errors && (email.dirty || email.touched)">
        <span style="color: red;"[hidden]="!email.errors.required">
          Email is required 
        </span>
        <span style="color: red;" [hidden]="!email.errors.pattern">
          Invalid Email Address
        </span>
        </div>
      <br>
    <button type="submit" class="btn btn-primary submit-button" routerLink="/dashboard" [disabled]=!(signinForm.valid)>Sign In</button>
</form>
