// .welcome-image{
//     position: relative;
// }
input{
    padding: 3%;
    margin: 4%;
  }
  .example-small-box {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 6% 16%;
    padding: 16px;
    border-radius: 8px;
    height: auto;
    width: auto;
    background-color:aliceblue; 
  }
  .neo{
    color: black;
    font-weight: 900;
    font-size:xx-large;
}
.scrum{
    color: red;
    font-weight: 900;
    font-size: xx-large;
}