.neo{
    color: white;
    font-weight: 700;
}
.scrum{
    color: red;
    font-weight: 700;
}
.card-title{
    background-color: rgba($color:lightblue, $alpha: 6.0);
    border-radius: 10px;
}
body{
    background: linear-gradient(to bottom, #e0eafc 0%, #cfdef3 61%);
    height: 100vh;
}
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1600px) { 
.home-page-nav{
    margin-left: 80%;
}
}