<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><span class="neo">Neo</span><span class="scrum">Scrum</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav home-page-nav">
        <a class="nav-link active login" routerLink="/feedback">Feedback<span class="sr-only">(current)</span></a>
        <a class="nav-link signup" routerLink="/login">LogOut</a>
        <a class="nav-link profile">{{userModel.e_name}}</a>
      </div>
    </div>
  </nav><br>
<!-- <div class="container mb-2">
    <div class="card-deck">
        <div class="card col-mb-auto col-md-auto col-auto mx-auto" *ngFor="let dummy of dummyList">
            <div class="card-body">
                <h4 class="card-title">Feedback</h4>
                <p class="card-text">{{dummy.feedback}}</p>
            <p class="card-text"><small class="text-muted">-by {{dummy.name}} {{dummy.updated}} minutes ago</small></p>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
  <div class="row">
      <!-- <div class="col-sm-6 col-lg-4" style="margin-top: 1%; margin-bottom: 1%;" *ngFor="let dummy of dummyList"> -->
        <div class="col-sm-6 col-lg-4" style="margin-top: 1%; margin-bottom: 1%;" *ngFor="let htlist of feedbacks1">
        <div class="card">
          <div class="card-body">
            <!-- <h5 class="card-title">Feedback</h5> -->
            <h5 class="card-title">{{htlist.userId}}</h5>
            <!-- <p class="card-text">{{dummy.feedback}}</p> -->
            <p class="card-text">{{htlist.body}}</p>
            <!-- <p class="card-text"><small class="text-muted">-by {{dummy.name}} {{dummy.updated}} minutes ago</small></p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="dummydisplayhttp" *ngFor="let htlist of feedbacks">
    <li>{{htlist.userId}}</li><span>{{htlist.body}}</span>
  </div> -->
</body>